/* Styles for the login page */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images5.alphacoders.com/131/1311994.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(0, 0, 0, 0.5); /* Warna latar belakang semi-transparan */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 300px; /* Adjusted width */
}

input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

#flashingText {
    animation: blink 2s infinite;
}

#emailLink a {
    color: red; /* Merah untuk tautan email */
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
}

#emailLink a:hover {
    text-decoration: underline;
}
