body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images4.alphacoders.com/134/1344174.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(0, 0, 0, 0.5); /* Warna latar belakang semi-transparan */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

input[type="password"] {
    margin-top: 10px;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

#flashingText {
    animation: blink 2s infinite; /* Ganti 2s sesuai kecepatan kedipan */
}

#emailLink a {
    color: red; /* Ubah warna teks email menjadi merah */
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif; /* Ubah font menjadi Times New Roman */
}
